<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Acceso</title>
    <link rel="stylesheet" href="recovery-password.css">
</head>
<body>
    <div class="container">
        <div class="left-section">
            <img src="../../img/logo-idat.png" alt="IDAT Logo" class="logo">
        </div>
        <div class="right-section">
            <div class="form-container">
                <div class="logo-eva">
                    <img src="../../img/eva.svg" alt="EVA Logo">
                </div>
                <h1>Recuperemos el acceso a tu cuenta</h1>
                <p>Por favor, ingresa tu código de usuario para enviarte el enlace de recuperación a tus correos asociados en pocos minutos.</p>
                <form action="#">
                    <input type="text" placeholder="Tu código de usuario">
                    <button type="submit">Enviar enlace</button>
                </form>
                <a href="../../index.html" class="back-to-login">Volver al inicio de sesión</a>
            </div>
        </div>
    </div>
</body>
</html>
