body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #722AE9; /* Color de fondo morado */
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-section {
    background-color: #4d18a1; /* Color morado más oscuro */
    color: white;
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-section .logo {
    width: 100px;
    margin-bottom: 20px;
}

.left-section .illustration img {
    width: 100%;
}

.right-section {
    padding: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.form-container .logo-eva img {
    width: 150px;
    margin-bottom: 20px;
}

.form-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.form-container p {
    font-size: 16px;
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container form button {
    width: 100%;
    padding: 10px;
    background-color: #4d18a1; /* Color del botón morado */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container form button:hover {
    background-color: #4b0082; /* Color morado más oscuro al pasar el mouse */
}

.form-container .back-to-login {
    display: block;
    margin-top: 20px;
    color: #6a0dad;
    text-decoration: none;
}

.form-container .back-to-login:hover {
    text-decoration: underline;
}
