<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>

    <link rel="stylesheet" href="inicio.css">

    <!-- Iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />

</head>

<body>
    <div class="container">
        <aside class="aside">
            <header class="aside__header">
                <img class="aside__header-img" src="../../../img/logo-eva.svg" alt="logo-eva">
            </header>
            <nav class="aside__nav">
                <ul class="aside__list">
                    <li class="aside__item">
                        <a class="aside__link aside__link--principal" href="">
                            <i class="aside__icon fa-solid fa-house"></i>
                            <span class="aside__text">Inicio</span>
                        </a>
                    </li>
                    <li class="aside__item">
                        <a class="aside__link" href="">
                            <i class="aside__icon fa-solid fa-book-open"></i>
                            <span class="aside__text">Mis cursos</span>
                        </a>
                    </li>
                    <li class="aside__item">
                        <a class="aside__link" href="">
                            <i class="aside__icon fa-solid fa-book"></i>
                            <span class="aside__text">Biblioteca</span>
                        </a>
                    </li>
                    <li class="aside__item">
                        <a class="aside__link" href="">
                            <i class="aside__icon fa-solid fa-copy"></i>
                            <span class="aside__text">Solicitudes</span>
                        </a>
                    </li>
                    <li class="aside__item">
                        <a class="aside__link" href="">
                            <i class="aside__icon fa-solid fa-building-columns"></i>
                            <span class="aside__text">Institucional</span>
                        </a>
                    </li>
                    <li class="aside__item">
                        <a class="aside__link" href="">
                            <i class="aside__icon fa-solid fa-chart-simple"></i>
                            <span class="aside__text">Línea de desarrollo</span>
                        </a>
                    </li>
                    <li class="aside__item">
                        <a class="aside__link" href="">
                            <i class="aside__icon fa-solid fa-calendar"></i>
                            <span class="aside__text">Programación docente</span>
                        </a>
                    </li>
                    <li class="aside__item">
                        <a class="aside__link" href="">
                            <i class="aside__icon fa-solid fa-building-columns"></i>
                            <span class="aside__text">Programación docente</span>
                        </a>
                    </li>
                    <li class="aside__item">
                        <a class="aside__link" href="">
                            <i class="aside__icon fa-solid fa-globe"></i>
                            <span class="aside__text">Smart</span>
                        </a>
                    </li>
                    <li class="aside__item">
                        <a class="aside__link" href="">
                            <i class="aside__icon fa-solid fa-file-lines"></i>
                            <span class="aside__text">Trámites</span>
                        </a>
                    </li>
                    <li class="aside__item">
                        <a class="aside__link" href="">
                            <i class="aside__icon fa-solid fa-box"></i>
                            <span class="aside__text">Guía del docente</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <button class="aside__button">
                <a class="aside__link" href="../../../index.html">
                    <i class="aside__button-icon fa-solid fa-arrow-left"></i>
                </a>
            </button>
        </aside>

        <div class="prime-container">
            <header class="header">
                <div class="header__title">
                    <h1 class="header__title-text">Inicio</h1>
                </div>
                <nav class="header__nav">
                    <div class="header__nav-item">
                        <button class="header__nav-button">
                            <i class="header__nav-icon fa-regular fa-circle-question"></i>
                        </button>
                    </div>
                    <div class="header__nav-item">
                        <button class="header__nav-button">
                            <i class="header__nav-icon fa-regular fa-envelope"></i>
                        </button>
                    </div>
                    <div class="header__nav-item header__nav-item--user">
                        <i class="header__nav-user-icon fa-solid fa-circle-user"></i>
                        <div class="header__nav-user-info">
                            <span class="header__nav-username">Username</span>
                            <i class="header__nav-icon--downarrow fa-solid fa-chevron-down"></i>
                        </div>
                    </div>
                </nav>
            </header>

            <main class="main">
                <section class="main__content">
                    <div class="search">
                        <input class="search__input" type="text"
                            placeholder="¡Hola, Dante Yoel! ¿qué publicación o perfil estás buscando?">
                        <i class="search__icon fa-solid fa-magnifying-glass"></i>
                    </div>

                    <section class="post">
                        <article class="post__article">
                            <header class="post__header">
                                <section class="post__header-section">
                                    <i class="post__header-icon fa-solid fa-circle-user"></i>
                                    <section class="post__header-info">
                                        <div class="post__header-info-title">
                                            <h3 class="post__header-info-title-text">Facultad de Negocios</h3>
                                        </div>
                                        <div class="post__header-info-details">
                                            <span class="post__header-info-detail">Carla Mayta -</span>
                                            <span class="post__header-info-detail">hace 3 días</span>
                                        </div>
                                    </section>
                                </section>
                                <p class="post__description">
                                    Facultad de Negocios 📢Nueva Master Class📢 Te gustaría
                                    saber de: El éxito del Marketing Mix para potenciar tu marca. 📍 Inscríbete aquí:
                                </p>
                            </header>
                            <div class="post__image">
                                <img class="post__image--img" src="../../../img/dashboard/img-post.jpg" alt="">
                            </div>
                            <section class="post__reactions">
                                <svg data-v-1df29c1a="" data-v-88317d94="" fill="none" viewBox="0 0 1024 1" height="1"
                                    width="1024" xmlns="http://www.w3.org/2000/svg" name="divisor" class="svg w-full"
                                    style="--03eb0660: #722AE9;">
                                    <path xmlns="http://www.w3.org/2000/svg" d="M1024 0.5H0" stroke="#F5F5F5"></path>
                                </svg>
                            </section>

                            <section class="post__actions">
                                <button class="post__action-button">
                                    <i class="post__action-icon fa-regular fa-star"></i>
                                    <span class="post__action-text">Me interesa</span>
                                </button>
                                <button class="post__action-button">
                                    <i class="post__action-icon fa-regular fa-heart"></i>
                                    <span class="post__action-text">Me emociona</span>
                                </button>
                                <button class="post__action-button">
                                    <i class="post__action-icon fa-solid fa-crown"></i>
                                    <span class="post__action-text">Me enorgullece</span>
                                </button>
                            </section>
                        </article>

                        <article class="post__article">
                            <header class="post__header">
                                <section class="post__header-section">
                                    <i class="post__header-icon fa-solid fa-circle-user"></i>
                                    <section class="post__header-info">
                                        <div class="post__header-info-title">
                                            <h3 class="post__header-info-title-text">Empleabilidad</h3>
                                        </div>
                                        <div class="post__header-info-details">
                                            <span class="post__header-info-detail">Melany Davila -</span>
                                            <span class="post__header-info-detail">hace 3 días</span>
                                        </div>
                                    </section>
                                </section>
                                <p class="post__description">
                                    ¡Programa de empleabilidad para Madre Estudiantes Idat 💙! Aprende a equilibrar tu
                                    entorno familiar y tu vida laboral 💼. Desarrolla estrategias para crecer a nivel
                                    profesional 🎓. Si eres una madre estudiante en búsqueda de estrategias para
                                    potenciar su empleabilidad 💼🌟. Inscríbete ahora 💻📲
                                </p>
                            </header>
                            <div class="post__image">
                                <img class="post__image--img" src="../../../img/dashboard/img-post2.jpg" alt="">
                            </div>
                            <section class="post__reactions">
                                <svg data-v-1df29c1a="" data-v-88317d94="" fill="none" viewBox="0 0 1024 1" height="1"
                                    width="1024" xmlns="http://www.w3.org/2000/svg" name="divisor" class="svg w-full"
                                    style="--03eb0660: #722AE9;">
                                    <path xmlns="http://www.w3.org/2000/svg" d="M1024 0.5H0" stroke="#F5F5F5"></path>
                                </svg>
                            </section>

                            <section class="post__actions">
                                <button class="post__action-button">
                                    <i class="post__action-icon fa-regular fa-star"></i>
                                    <span class="post__action-text">Me interesa</span>
                                </button>
                                <button class="post__action-button">
                                    <i class="post__action-icon fa-regular fa-heart"></i>
                                    <span class="post__action-text">Me emociona</span>
                                </button>
                                <button class="post__action-button">
                                    <i class="post__action-icon fa-solid fa-crown"></i>
                                    <span class="post__action-text">Me enorgullece</span>
                                </button>
                            </section>
                        </article>

                        <article class="post__article">
                            <header class="post__header">
                                <section class="post__header-section">
                                    <i class="post__header-icon fa-solid fa-circle-user"></i>
                                    <section class="post__header-info">
                                        <div class="post__header-info-title">
                                            <h3 class="post__header-info-title-text">Vinculación con el Medio</h3>
                                        </div>
                                        <div class="post__header-info-details">
                                            <span class="post__header-info-detail">Andrea Bendezu -</span>
                                            <span class="post__header-info-detail">hace 3 días</span>
                                        </div>
                                    </section>
                                </section>
                                <p class="post__description">¡Recuerda que la charla "Buenas Prácticas para el Medio
                                    Ambiente"🌍 es el 8 de agosto a las 7:00 p.m.! Exploraremos la clasificación de
                                    residuos y medidas de minimización. Conéctate a este espacio para aprender cómo
                                    puedes hacer la diferencia en tu entorno. 💪 👉Link de inscripción:
                                </p>
                            </header>
                            <div class="post__image">
                                <img class="post__image--img" src="../../../img/dashboard/img-post3.png" alt="">
                            </div>
                            <section class="post__reactions">
                                <svg data-v-1df29c1a="" data-v-88317d94="" fill="none" viewBox="0 0 1024 1" height="1"
                                    width="1024" xmlns="http://www.w3.org/2000/svg" name="divisor" class="svg w-full"
                                    style="--03eb0660: #722AE9;">
                                    <path xmlns="http://www.w3.org/2000/svg" d="M1024 0.5H0" stroke="#F5F5F5"></path>
                                </svg>
                            </section>

                            <section class="post__actions">
                                <button class="post__action-button">
                                    <i class="post__action-icon fa-regular fa-star"></i>
                                    <span class="post__action-text">Me interesa</span>
                                </button>
                                <button class="post__action-button">
                                    <i class="post__action-icon fa-regular fa-heart"></i>
                                    <span class="post__action-text">Me emociona</span>
                                </button>
                                <button class="post__action-button">
                                    <i class="post__action-icon fa-solid fa-crown"></i>
                                    <span class="post__action-text">Me enorgullece</span>
                                </button>
                            </section>
                        </article>

                        <article class="post__article">
                            <header class="post__header">
                                <section class="post__header-section">
                                    <i class="post__header-icon fa-solid fa-circle-user"></i>
                                    <section class="post__header-info">
                                        <div class="post__header-info-title">
                                            <h3 class="post__header-info-title-text">Vinculación con el Medio</h3>
                                        </div>
                                        <div class="post__header-info-details">
                                            <span class="post__header-info-detail">Andrea Bendezu -</span>
                                            <span class="post__header-info-detail">hace 3 días</span>
                                        </div>
                                    </section>
                                </section>
                                <p class="post__description">
                                    🚀¡Felicitamos a nuestros ganadores del sorteo, por participar en la conferencia
                                    'ABC de Sostenibilidad'! 🌍 Muchas gracias a todos los participantes, pronto habrá
                                    más novedades.
                                </p>
                            </header>
                            <div class="post__image">
                                <img class="post__image--img" src="../../../img/dashboard/img-post4.jpg" alt="">
                            </div>
                            <section class="post__reactions">
                                <svg data-v-1df29c1a="" data-v-88317d94="" fill="none" viewBox="0 0 1024 1" height="1"
                                    width="1024" xmlns="http://www.w3.org/2000/svg" name="divisor" class="svg w-full"
                                    style="--03eb0660: #722AE9;">
                                    <path xmlns="http://www.w3.org/2000/svg" d="M1024 0.5H0" stroke="#F5F5F5"></path>
                                </svg>
                            </section>

                            <section class="post__actions">
                                <button class="post__action-button">
                                    <i class="post__action-icon fa-regular fa-star"></i>
                                    <span class="post__action-text">Me interesa</span>
                                </button>
                                <button class="post__action-button">
                                    <i class="post__action-icon fa-regular fa-heart"></i>
                                    <span class="post__action-text">Me emociona</span>
                                </button>
                                <button class="post__action-button">
                                    <i class="post__action-icon fa-solid fa-crown"></i>
                                    <span class="post__action-text">Me enorgullece</span>
                                </button>
                            </section>
                        </article>
                    </section>
                </section>

                <section class="extra-container">
                    <section class="cronograma">
                        <h1 class="cronograma__title">Mi programación</h1>
                        <nav class="cronograma__nav">
                            <ul class="cronograma__list">
                                <li class="cronograma__item">
                                    <a class="cronograma__link" href="">Lunes</a>
                                </li>
                                <li class="cronograma__item">
                                    <a class="cronograma__link" href="">Martes</a>
                                </li>
                                <li class="cronograma__item">
                                    <a class="cronograma__link" href="">Miercoles</a>
                                </li>
                                <li class="cronograma__item">
                                    <a class="cronograma__link" href="">Jueves</a>
                                </li>
                                <li class="cronograma__item">
                                    <a class="cronograma__link" href="">Viernes</a>
                                </li>
                                <li class="cronograma__item">
                                    <a class="cronograma__link" href="">Sábado</a>
                                </li>
                                <li class="cronograma__item">
                                    <a class="cronograma__link" href="">Domingo</a>
                                </li>
                            </ul>
                        </nav>
                    </section>
                </section>
            </main>
        </div>
    </div>

</body>

</html>